<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
    <title>Data Person</title>
</head>
<body>
<div layout:fragment="breadcrumb">
    <h1>Person</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Data Person</li>
    </ol>
</div>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">&nbsp;</h3>
                </div>
                <form role="form" th:object="${person}" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="kode">Kategori Paket</label>
                            <select
                                    class="selectpicker form-control"
                                    data-live-search="true"
                                    data-size="10"
                                    title="Please Select ..."
                                    th:field="*{pulsa}">
                                <option th:each="p : ${pulsa}"
                                        th:value="${p.id}"
                                        th:text="${p.paket}">Pilihan paket
                                </option>
                            </select>
                            <label class="control-label error-label" th:errors="*{pulsa}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="nama"> Nama</label>
                            <input type="text" class="form-control" th:field="*{nama}" id="nama" name="nama"
                                   placeholder="Didik Hariyanto"/>
                            <label class="control-label error-label" th:errors="*{nama}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="alamat">No.hp</label>
                            <input type="text" class="form-control" th:field="*{nohp}" id="alamat" name="alamat"
                                   placeholder="081283333166"/>
                            <label class="control-label error-label" th:errors="*{nohp}">
                                Pesan error nanti di sini
                            </label>
                        </div>
                        <div class="form-group">
                            <a th:href="@{/person/list}" class="btn btn-default" role="button" title="Back list">
                                <span aria-hidden="true"></span>Batal
                            </a>
                            <button type="submit" class="box-title btn btn-primary" title="Save Data">Simpan</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>